%h2 You're almost done! Now create a password to securely access your account.
= simple_f_for(resource, :as => resource_name, :url => confirm_path) do |f|
    = f.input :password, :input_html => {:autofocus => true}
    = f.input :password_confirmation
    = f.input :confirmation_token, :as => :hidden
    .form-actions
      = f.button :submit, "Sign up to get a confirmation email", class: 'btn-large btn-primary'
    = render :partial => "devise/shared/links"