- content_for :column1 do
  %blockquote.pull-right
    = render 'shared/mission_statement'
- content_for :column2 do
  .row-fluid
    .span3.label.label-warning
      Step 1: Sign up 
    .span3.label
      Step 2: Choose password 
    .span3.label
      Step 3: Choose subdomain 
  %br/
  %legend Step 1: Sign up 
  = simple_form_for(resource, :as => resource_name, html: { class: 'form-horizontal' }, :url => registration_path(resource_name)) do |f|
    - if f.error_notification
      .alert.alert-error.fade.in
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        = f.error_notification
    = f.input :email
    .form-actions
      = f.button :submit, "Sign up to get a confirmation email", class: 'btn-large btn-primary'
    = render :partial => "devise/shared/links"