- content_for :column1 do
  %blockquote.pull-right
- content_for :column2 do
  %h2 Sign in
  = simple_form_for(resource, :as => resource_name, html: { class: 'form-horizontal'}, :url => session_path(resource_name)) do |f|
    .inputs
      = f.input :email, :required => false, :autofocus => true
      = f.input :password, :required => false
      = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    /.actions
    = f.button :submit, "Sign in"
    = render "links"