- content_for :column2 do
	%h1 g4et some!
	= simple_form_for(resource, :url => confirm_path, class: "form-horizontal") do |f|
		= f.input   :password
		= f.input   :password_confirmation
		= f.input   :confirmation_token, as: :hidden
		.form-actions
			= f.button :submit, "Choose my password", class: "btn btn-primary"