.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to("UberMatcher", root_path, class: 'brand')
      .btn-group.pull-right
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          - if user_signed_in?
            %i.icon-user 
            = current_user.email
          - else
            %i.icon-user 
            Sign in or Signup
            %span.care
        %ul.dropdown-menu
          - if user_signed_in?
            %li
              %a{:href => "#"} Settings
            %li.divider
            %li
              /%a{:href => "#"} Sign Out
              = link_to("Sign out", destroy_user_session_path, method: :delete)
          - else
            %li
              = link_to("Sign Up", new_user_registration_path)
            %li.divider
            %li
              = link_to("Sign In", new_user_session_path)
      .nav-collapse
        %ul.nav
          %li
            = link_to 'Home', root_url
          %li
            = link_to 'About', about_url
          %li
            = link_to 'Contact', contact_url